//api-gateway
GATEWAY_PORT=3000
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
PROFILE_SERVICE_URL=http://profile-service:3003
ORDER_SERVICE_URL=http://order-service:3004

//auth-service
AUTH_PORT=3001
USER_SERVICE_URL=http://user-service:3002/internal/adduser

//user-service
USER_PORT=3002

//profile-service
PROFILE_PORT=3003

//order-service
ORDER_PORT=3004
DATABASE_URL="postgres://07b63c98aec53a2dcccd8f16f84196dc903fc960086443b0184b1190c043acc5:sk_U3V01tiPWIBLuUzSqIyfe@db.prisma.io:5432/postgres?sslmode=require"



